<h1>Stamps</h1>

<table>
  <tr>
    <th>Category</th>
    <th></th>
  </tr>
  <% for stamp in @stamp_list %>
  <tr>
    <td><a href="/stamps/<%= stamp.id %>"><%= stamp.category %></a></td>
    <td>|</td>
  </tr>
  <% end %>
</table>
