<h1 class="intro">Tags</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/stamps/new">New Tag</a>
</p>

<h3>Here is a list of all your current Tags</h3>

<table class="stamp_table">
    <tr>
      <th>Category</th>
    </tr>
  <% for stamp in @stamp_list %>
    <tr>
      <td><a href="/stamps/<%= stamp.id %>"><%= stamp.category %></a></td>
    </tr>
  <% end %>
</table>
