<h1>Stamps</h1>

<div class="">
  <form action="/stamps" method="POST">
    <input type="text" name="catagory" placeholder="New Tag here" value="">
    <input class="btn btn--action" type='submit' value="Send">
  </form>
</div>
