<h1>Edit</h1>

<div class="">
  <form action="/merchants" method="post">
    <input type="text" name="name" placeholder="" value="<%= @merchant_list.name%>">
    <input class="btn btn--action" type='submit' value="Edit">
  </form>
</div>
