<h1>Merchants</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/merchants/new">New Merchant</a>
</p>

<h3>Here is a list of all your current merchants</h3>

<table class="merc_table">
  <tr>
    <th>Name</th>
  </tr>
  <% for merchant in @merchant_list %>
    <tr>
      <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
    </tr>
  <% end %>
</table>
