<h1>Merchants</h1>

<h3>Here is a list of all your current merchants</h3>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for merchant in @merchant_list %>
    <tr>
      <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
    </tr>
  <% end %>
</table>
