<h1 class="intro">Merchants</h1>

<p class="intro_p">Paws and pounds!</p>

<h3 class="intro_h3">Here is a list of all your current merchants</h3>

<p class="new_button">
  <a href="/merchants/new">Add a Merchant?</a>
</p>

<table class="merc_table">
  <tr>
    <th>Name</th>
  </tr>
  <% for merchant in @merchant_list %>
    <tr>
      <td><a class="link_text" href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
    </tr>
  <% end %>
</table>
