<h1><%= @merchant.name %></h1>

<h3>Stamp:</h3>

<ul>
  <% @merchant.stamp_check.each do |stamp| %>
  <li><%= stamp.category %></li>
  <% end %>
</ul>

<ul>
  <% @merchant.budget_check.each do |budget| %>
  <li><%= budget.label %></li>
  <% end %>
</ul>
