<h1>Merchants apple</h1>

<div class="">
  <form action="/merchants" method="POST">
    <input type="text" name="name" placeholder="New merchant here" value="">
    <input class="btn btn--action" type='submit' value="Send">
  </form>
</div>
