<h1><%= @merchant.name %></h1>

<h3>Merchant details:</h3>

<ul>
  <% @merchant.stamp_check.each do |stamp| %>
  <li>ID: <%= stamp.id %></li>
    <li>Tag: <%= stamp.category.upcase %></li>
      <form action="/merchants/<%= stamp.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="Delete" />
      </form>
  <% end %>
</ul>
