<h1 class="intro">Statement</h1>

<table class="searchbar">
  <form class="textbox_extra" action="/transactions" method="post">
    <label>
    Select a stamp:
      <select name="stamp_id">
        <% for stamp in @stamp_list %>
        <option value="<%= stamp.id %>"><%= stamp.category %></option>
        <% end %>
      </select>
    </label>

    <br>

    <label>
      Select a merchant:
      <select name="merchant_id">
        <% for merchant in @merchant_list %>
        <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <% end %>
      </select>
    </label>

    <br>

    <input id="amount" type="number" step="0.01" name="charge" placeholder="£0.00" required/>

    <br>

    <label> Charitable?
      <input type="hidden" name="is_charitable" value="f">
    <input type="checkbox" name="is_charitable" value="t" unchecked>
    </label>

    <input class="" type='submit' value="Send">
  </form>
</table>
