<h1>Statement</h1>

<form action="/transactions" method="post">
  <label>
  Select a tag:
    <select name="tag_id">
      <% for tag in @tag_list %>
      <option value="<%= tag.id %>"><%= tag.catagory %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a merchant:
    <select name="merchant_id">
      <% for merchant in @merchant_list %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>

  <input class="btn btn--action" type='submit' value="Tag">
</form>
