<h1>Budgets</h1>

<table>
  <tr>
    <th>Label</th>
    <th></th>
  </tr>
  <% for budget in @budget_list %>
  <tr>
    <td><a href="/budgets/<%= budget.id %>"><%= budget.label %></a></td>
    <td>|</td>
  </tr>
  <% end %>
</table>
