<h1><%= @budget.label %></h1>

<h3>Budget:</h3>

<ul>
  <% @budget.stamp_check.each do |stamp| %>
  <li><%= stamp.catagory %></li>
  <% end %>
</ul>

<ul>
  <% @budget.merchant_check.each do |merchant| %>
  <li><%= merchant.name %></li>
  <% end %>
</ul>
